.sidebar {
  position: relative;
  z-index: 1;
  width: 200px;
  padding: 20px;

  &-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-category-title {
    margin-top: 29px;
    margin-bottom: 18px;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover,
    &--active {
      background-color: #e0e0e0;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
