.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  height: calc(100vh - 150px);
  position: relative;
  z-index: 1;

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__category-title {
    margin-top: 29px;
    margin-bottom: 18px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover,
    &--active {
      background-color: #e0e0e0;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
